<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<decimals>4</decimals>
	<value-range min="1" max="999" />
	<generation-delay min="0" max="0" />
	<crash-delay interval="10000" duration="500" />
	<multicast>
		<ip>234.15.219.106</ip>
		<port>51001</port>
		<router-quantity>20</router-quantity>
	</multicast>
</settings>
